.xhar-panel{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    overflow: hidden;
    font-size: 14px;
    .ReactVirtualized__Table__headerRow{
        background: #f3f3f3;
    }
    *{
        outline: none;
    }
}

.xhar-odd-row{
    background: #f9f9f9;
}

.xhar-row{
    &:hover{
        background: #f1f6fd;
    }
    &.active{
        background: #ddeeff;
    }
}


.xhar-detail{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    background: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    .ant-collapse-borderless > .ant-collapse-item{
        border-bottom: none;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header{
        padding: 2px 0 2px 25px;
        color: #000000;
        font-weight: 500;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow{
        left: 5px;
        line-height: 22px;
        top: 2px;
    }
    .ant-collapse-content > .ant-collapse-content-box{
        padding: 1px 35px;
    }
    .jsoneditor-menu{
        display: none;
    }
    div.jsoneditor{
        border: none;
    }
}
#xharJSONPreview,#xharCodeEditor,.CodeMirror,.xharCodeEditor{
    position: absolute !important;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
}

#xharJSONPreview{
    padding-top: 10px;
}
@import "./detail";
