$taskbar-height:40px;

$gray-darker: #333333;
$gray-dark: #666666;
$gray: #999999;
$gray-medium: #CCCCCC;
$gray-light: #E5E5E5;
$gray-lighter: #F8F8F8;
$white: #FFFFFF;

//主色
$primary: #3974cc;
$supplement: #FF9801;
$danger: #FF5D4A;
$success: #5ABB3C;
$info: #5bc0de;
$warning: $supplement;
$default: $white;
